* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-size: 36px;
    color: #232323;
    margin: 0;
    text-align: center;
}

nav {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: #FF6B00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e65c00;
}